<div class="container"
     fxLayout="row"
     fxLayoutGap="10px"
     [@expand]="">

  <div fxFlex fxFlex.gt-sm="30%">
    <img class="image" src="{{BaseURL}}images/inside.webp" alt="Inside">
  </div>

  <div fxFlex>
    <mat-card>
      <h3>Каталог</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat lacinia est sagittis fringilla.
        Aliquam ut suscipit nulla. Sed mattis velit id dolor vestibulum, at elementum elit facilisis. Proin et arcu porta,
        sollicitudin sem vitae, malesuada augue. Integer at ligula ultricies, interdum nibh a, posuere elit. Nam ex magna,
        dictum eu est nec, sagittis maximus purus. Integer erat tellus, molestie at consectetur sit amet, vulputate ut neque.
        Donec eget tellus vehicula sem tincidunt posuere a sit amet tellus. Pellentesque leo magna, imperdiet a mi et,
        euismod dictum felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa nisl, tincidunt at dui
        et, venenatis imperdiet purus. Ut pulvinar nulla eu dolor vehicula, et gravida justo venenatis. Vivamus ultrices
        tincidunt libero vitae tristique. Phasellus consectetur dui ut urna rutrum cursus. Vestibulum dignissim, metus in
        feugiat porta, ipsum massa dapibus mi, sed maximus mi est nec elit.
        Pellentesque tincidunt, urna in efficitur eleifend, libero orci fermentum massa,
        sed vulputate nunc lectus pharetra velit. Aliquam pharetra mi id convallis sodales. Sed justo urna, dapibus et
        quam quis, semper faucibus ligula. Mauris volutpat egestas volutpat. Fusce pellentesque pretium neque, in facilisis
        neque imperdiet quis. In hac habitasse platea dictumst. Phasellus auctor iaculis diam, pharetra aliquam purus
        rhoncus et. Morbi nec egestas tellus.
      </p>
      <h3>Сервис</h3>
      <p>Вы можете посетить наш магазин по адресу: г. Минск, ул. К. Маркса, д. 32. При необходимости мы
        готовы быстро и своевременно предоставить консультацию по выбору по телефону или мессенджеру, а также доставить Ваш
        ноутбук в удобное для Вас место.
      </p>
      <h3>Доставка</h3>
      <p>
        Минимальная сумма заказа для доставки составляет 1000
        рублей.
        Время работы службы доставки: с 10:00 до 20:00. Заказы принимаются ежедневно с 10:00 до 18:00.
        Также доступен самовывоз: ул. К. Маркса, д. 32, с 10:00 до 23:00.
      </p>
    </mat-card>
  </div>

</div>
