<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <mat-list fxFlex>
    <mat-grid-list cols="2" rowHeight="3:2">
      <mat-grid-tile *ngFor="let laptop of laptops" (click)="onSelect(laptop)">
        <img class="image" src={{laptop.image}} alt={{laptop.name}}>
        <mat-grid-tile-footer>
          <h1 matLine>{{laptop.name}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-list>

  <app-laptop-detail [laptop] = "selectedLaptop"></app-laptop-detail>

</div>

